numpy>=1.21.5
pandas>=1.5.3
pysam~=0.19
pyyaml~=6.0
jinja2~=3.1.1
matplotlib~=3.8
scipy>=1.8.0
flatdict~=4.0.1
seaborn~=0.11.2
dill~=0.3.4
pluggy~=1.4
voluptuous>=0.13.1
natsort <= 7.1.1
click<=8.1.3
pydantic
rich>=12.6.0
textual==0.4.0
biopython~=1.80
pyranges~=0.0.129
bottleneck
scikit-learn
pympler
GitPython
stringdb
polars
statsmodels
PyComplexHeatmap~=1.6.7
scikit_posthocs
pyarrow~=15.0
